
.slider{
    position: relative;
    /* border:1px red solid; */
}
.slider>.flex{
    position: absolute;
    bottom: 0;
    padding-bottom: 1em;
    display: flex;
    /* border: 1px red solid; */
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    width: 100%;
}
.slider>.flex>.dots{
    /* border:1px blue solid; */
    display: flex;
}
.slider>.flex>.dots>.dot{
    width: 1.5em;
    height: 1.5em;
    margin: 0 1em;
    border-radius: 50%;
    border: thin white solid;
}
.slider>.flex>i{
    /* border: 1px blue solid; */
    font-size: 3em;
    color: white;
}
.slider>.flex>.fa-caret-left{
    padding-right: 7.5em;
}
.slider>.flex>.fa-caret-right{
    padding-left: 7.5em;
}
.slider>.flex>.dots>.current-dot{
    background-color: white;
}






.slides{
    width: 100vw;
    height: 50vw;
    /* use the width and hight of this box to set box size for images */
    /* border: 1px red solid; */
    position: relative;
   
}
.slides>div{
    height: 100%;
    width: 100%;
    /* set hight and width to 100% to fill parent */
    position: absolute;
    /* make them stack on top of each other */
    top: 0;
    left: 0;
    background-size: cover;
    /* to make the image responsive */
    background-position: center;
    /* center the image */
}
.slides>div:nth-child(1){
    background-image: url(../images/img1.png)
    /* background-color:rgba(255, 0, 0, 0.2); */
}
.slides>div:nth-child(2){
    background-image: url(../images/img2.png)
    /* background-color:rgba(0,255, 0, 0.2); */
}
.slides>div:nth-child(3){
    background-image: url(../images/img3.png)
    /* background-color:rgba(0,0,255, 0.2); */
}
.slides>.current{
    z-index: 50;
}

